
 .title{
    top:5%;
    display: block;
    width:100%;
    text-align: center;
    color:rgb(7, 9, 9);
  }


  .game-info {
    margin-left: 20px;
  }


ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  