.square {
    background-color: rgb(239, 104, 43);
    float: left;
    font-size: 42px;
    font-weight: bold;
    line-height: 120px;
    height: 120px;
    width: 120px;    
    margin: 5px;
    border-radius:25%;
    padding: 0;
    text-align: center;
    border:none; 
  }
  
  .square:focus {
    outline: none;
  }

  .square:hover{
   opacity: 0.8;
 }