<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Liste des utilisateurs de <u>{{title}}</u> !
  </h1>
  <img width="100" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
<!--</ul>-->
<!--<ul>
  <li><a routerLink="login">login </a></li>
  <li><a routerLink="sign-up">Signup </a></li>
  <li><a routerLink=""> home </a></li>
</ul>
<router-outlet></router-outlet>
-->
<!--
<app-test-directives></app-test-directives>
-->

<!--<app-immeuble></app-immeuble>-->
<app-ng-class-test></app-ng-class-test>
<!--<app-immutabilitetest></app-immutabilitetest>-->
<!--<app-view-child-test></app-view-child-test>-->
<!---<app-personne>Chargement</app-personne>-->
<!--<hr>-->

<!--<br />-->
<!--<br />-->
<!--<input type="text" placeholder="Enter name" #username> <br />-->
<!--{{#username | json}} -->
<!--<app-chrono></app-chrono>-->
<!--<app-user-table [users]="users"></app-user-table>-->

<!--<app-form-template-driven></app-form-template-driven>-->
<!--<app-reactiv-form-module></app-reactiv-form-module>-->